* {
  padding: 5px;
}

img {
  width: 100%;
  height: 100%;
}
.image {
  /* height: 500px; */
}
/* img,
.port-item {
  width: 30%;
}

img,
.port-item:hover {
  opacity: 0.8;
  cursor: pointer;
} */
.row-hl {
  background: #7a7676;
  height: 600px;
  /* width: auto; */
}

.item-hl {
  border: 1px solid #333;
}
